body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
main {
    z-index: 1;
}

/*--------Header & Footer Section-----------*/
header, footer {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    z-index: 2;
    position: relative;
}

header img, footer img {
    align-self: center;
}

header {
    padding: 16px;
}

footer {
    padding: 36px 16px;
    background-color: #13183f;
}

    /*Desktop*/
@media only screen and (min-width: 1200px) {

    header {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 40px;
        padding-right: 40px;

    }
    footer {
        padding: 32px 165px;
    }
}

/*--------Button Section-----------*/

.header-button {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #13183f;
}
.header-button:hover {
    background-color: #666CA3;
}

.main-button {
    display: block;
    text-decoration: none;
    border-radius: 31.5px;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 167px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
.main-button:hover {
    background-image: linear-gradient(0deg, hsla(0deg, 0%, 100%, 0.5), hsla(0deg, 0%, 100%, 0.5)), linear-gradient(to bottom, hsl(13deg, 100%, 64%), hsl(322deg, 87%, 55%));
}

.footer-button {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(#4851FF, #F02AA6);
}
.footer-button:hover {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/*--------Hero Section-----------*/

.hero {
    padding-left: 16px;
    padding-right: 16px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.hero img  {
    width: 100%;
}
.hero h1 {
    color: #13183f;
    font-size: 40px;
    font-weight: 800;
    line-height: 50.5px;
    margin-top: 38px;
    margin-bottom: 0;
    min-width: 350px;
}

.hero p {
    color: #83869a;
    font-size: 16px;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 24px;
}

    /*Tablet*/
@media only screen and (min-width: 721px) and (max-width: 1199px) {
    .hero {
        margin-bottom: 210px;
        width: 691px;
        display: flex;  
    }
    .hero-info {
        width: 50%;
    }
    .hero img  {
        position: absolute;
        top: -90px;
        right: -250px;
        width: 670px;
    }
}
    /*Desktop*/
@media only screen and (min-width: 1200px) {
    .hero {
        margin-bottom: 226px;
        width: 1110px;
        display: flex;
        margin-top: 175px;  
    
    }
    .hero-info {
        width: 50%;
    }
    .hero img  {
        position: absolute;
        top: -150px;
        right: -335px;
        width: 991px;
    }
}

/*---------Card Section----------*/
.card-section-container {
    display: flex;
    background-image: linear-gradient(#FFFFFF, #F0F1FF);    
    width: 100%;
}
.card-section {
    display: grid;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    position: relative;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    border-radius: 10px;
    color: white;
}

aside h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}
.card-container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    color: #83869a;
    font-size: 16px;
    padding: 56px 28px 32px 28px;
}
.card-container img {
    position: absolute;
    top: -24px;
}

.card-container h3 {
    color: #13183f;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}

.card-container p {
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 26px;

}
.card-container a {
    color: #f74780;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    margin-top: 0;
}
.card-container a:hover {
    color: #FFA7C3;
}

/*--------Grid Area Assignments-----------*/
.card-one {
    grid-area: grid-one;
}
.card-two {
    grid-area: grid-two;
}
.card-three {
    grid-area: grid-three;
}
.card-four {
    grid-area: grid-four;
}
.card-five {
    grid-area: grid-five;
}
.card-six {
    grid-area: grid-six;
}
    /*Mobile*/
@media only screen and (max-width: 720px) {
    .card-section {
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: 120px repeat(5, 1fr);
        grid-row-gap: 40px;
        grid-template-areas: 
            "grid-one" 
            "grid-two" 
            "grid-three" 
            "grid-four" 
            "grid-five" 
            "grid-six";

        width: 340px
    }
    aside {
        padding: 24px 29px 32px 29px; 
    }
}

    /*Tablet*/
@media only screen and (min-width: 721px) and (max-width: 1199px) {
    .card-section {
        padding-bottom: 86px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 11px;
        grid-row-gap: 56px;
        grid-template-areas: 
            "grid-one grid-two" 
            "grid-three grid-four" 
            "grid-five grid-six";

        width: 691px
    }
    aside {
        padding: 56px 32px 139px 21px; 
    }
}
    /*Desktop*/
@media only screen and (min-width: 1200px) {
    .card-section {
        padding-bottom: 140px;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 80px;
        grid-template-areas: 
            "grid-one grid-two grid-three"
            "grid-four grid-five grid-six";
        
        width: 1110px
    }
    .card-container {
        padding: 65px 32px 40px 32px; 
    }
    .card-container h3 {
        color: #13183f;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0;
    }
    .card-container p {
        margin-top: 24px;
        margin-bottom: 24px;
        line-height: 28px;
    
    }
    aside {
        padding: 64px 32px 138px 32px; 
    }
    aside h2 {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
    }
}