body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*-------------------*/

header, footer {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

header img, footer img {
    align-self: center;
}

header {
    padding: 16px;
}

footer {
    padding: 36px 16px;
    background-color: #13183f;
}

/*-------------------*/

.header-button {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #13183f;
}

.main-button {
    display: block;
    text-decoration: none;
    border-radius: 31.5px;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 167px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.footer-button {
    text-decoration: none;
    border-radius: 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(#4851FF, #F02AA6);
}

/*--------Hero Section-----------*/

.hero {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.hero img  {
    width: 100%;
}
.hero h1 {
    color: #13183f;
    font-size: 40px;
    font-weight: 800;
    line-height: 50.5px;
    margin-top: 38px;
    margin-bottom: 0;
    min-width: 350px;
}

.hero p {
    color: #83869a;
    font-size: 16px;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 24px;
}

/*Tablet*/
@media only screen and (min-width: 451px) and (max-width: 1024px) {
    .hero {
        padding-left: 39px;
        margin-bottom: 210px;
    }
    .hero div {
        width: 50%;
    }
    .hero img {
        position: absolute;
        width: 640px;
        top: -80px;
        right: -275px;
    }
}

/*---------Card Properties----------*/

.card-section {
    display: grid;
    background-image: linear-gradient(#FFFFFF, #F0F1FF);    
    padding-bottom: 80px;
 
}

aside {
    position: relative;

    background-image: linear-gradient(#FF6F48, #F02AA6);
    border-radius: 10px;
    color: white;
}

aside h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}
.card-container {
    position: relative;

    background-color: white;
    border-radius: 10px;
    color: #83869a;
    font-size: 16px;

    padding: 56px 28px 32px 28px;
}
.card-container img {
    position: absolute;
    top: -24px;
}

.card-container h3 {
    color: #13183f;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}

.card-container p {
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 26px;

}
.card-container a {
    color: #f74780;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    margin-top: 0;
}

/*--------Grid Area Assignments-----------*/
.card-one {
    grid-area: grid-one;
}
.card-two {
    grid-area: grid-two;
}
.card-three {
    grid-area: grid-three;
}
.card-four {
    grid-area: grid-four;
}
.card-five {
    grid-area: grid-five;
}
.card-six {
    grid-area: grid-six;
}
/*Mobile*/
@media only screen and (max-width: 450px) {
    .card-section {
        padding-left: 16px;
        padding-right: 16px;  
        grid-template-columns: 1fr;
        grid-template-rows: 120px repeat(5, 1fr);
        grid-row-gap: 40px;
        grid-template-areas: 
            "grid-one" 
            "grid-two" 
            "grid-three" 
            "grid-four" 
            "grid-five" 
            "grid-six";
    }
    aside {
        padding: 24px 29px 32px 29px; 
    }
}

/*Tablet*/
@media only screen and (min-width: 451px) and (max-width: 1024px) {
    .card-section {
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 11px;
        grid-row-gap: 56px;
        grid-template-areas: 
            "grid-one grid-two" 
            "grid-three grid-four" 
            "grid-five grid-six";
    }
    aside {
        padding: 56px 32px 139px 21px; 
    }
}
/*Desktop*/
@media only screen and (min-width: 1025px) {
    .card-section {
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-template-areas: 
            "grid-one grid-two grid-three"
            "grid-four grid-five grid-six";    
    }
}

/*------------------------------*/
